*.o
*~
*.dSYM
.DS_Store
mi_mkfs
mi_ls
mi_ln
mi_stat
mi_rm
mi_cat
mi_write
mi_chmod
mi_creat
mi_truncar
simulacion
disco.imagen
infosb
infomb
RWBits
RWBlocs
RWInodes
RAInodes
RInode
traduir
truncar
read_write
crear_entrades
comprovar_entrades
docs
documentacio.html
